
<div class="card card-table flex-fill">
    <div class="card-header">
        <h3 class="card-title mb-0">Exit Authorization</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="height: 337.5px;">
            <table  matSort
            (matSortChange)="sortData($event)"
                class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th mat-sort-header="from" >Exit Day</th>
                        <th  >From</th>
                        <th >To</th>
                        <th >No of Hours</th>
                        <th >Reason</th>
                        <th mat-sort-header="status">Status</th>
                        <th mat-sort-header="id">Process</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of lstExit;let i = index">
                        <td>{{row.exit_day }}</td>
                        <td>{{row.exit_start }}</td>
                        <td>{{row.exit_end }}</td>
                        <td class="text-center">
                            <span class="btn btn-sm "
                              [ngClass]="{
                                'btn-success': row.number_of_hours <= 2,
                                'btn-warning': row.number_of_hours > 2 && row.number_of_hours <= 4,
                                'btn-danger': row.number_of_hours > 4
                              }"
                            >
                              {{row.number_of_hours }}
                            </span>
                        </td>
                        <td>{{row.Reason}}</td>
                        <td class="text-align">
                            <span class="badge" [ngClass]="{'bg-inverse-success': row.status === 'Approved', 'bg-inverse-danger': row.status === 'Declined', 'bg-inverse-info': row.status === 'Pending'}">{{row.status}}</span>
                        </td>
                        <td class="text-center">
                            <div><a class="text-info" data-bs-toggle="modal" data-bs-target="#processExit" (click)="openProcess(row.process)">View Process <span><i class="fa fa-th-list"></i></span></a></div>
                        </td>
                        <td >
                            <div class="dropdown dropdown-action" [hidden]="row.status != 'Pending'">
                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_exit" (click)="this.exittoedit=row;this.ngOnChange()"
                                        ><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_exit" (click)="this.exittoedit=row;this.ngOnChange()"
                                        ><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="lstExit.length === 0">
                        <td colspan="10">
                            <h5 style="text-align: center;">No data found</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_footer">
            <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">
                Showing {{ serialNumberArray[0] }} to
                {{ serialNumberArray[serialNumberArray.length - 1] }} of
                {{ totalData }} entries
            </div>
            </div>

            <div class="col-sm-12 col-md-7">
            <div class="pagination_section">
                <ul class="pagination">
                <li
                    class="page-item"
                    [ngClass]="{
                    disabled: currentPage === 1
                    }"
                >
                    <a
                    (click)="getMoreData('previous')"
                    class="page-link"
                    href="javascript:void(0);"
                    tabindex="-1"
                    >Previous</a
                    >
                </li>

                <ng-container *ngFor="let item of pageNumberArray; let i = index">
                    <li
                    class="page-item"
                    [class.active]="item === currentPage"
                    [ngClass]="
                        (pageNumberArray[currentPage - 2] > item &&
                        item !== 1 &&
                        pageNumberArray.length > 6) ||
                        (pageNumberArray[currentPage] < item &&
                        item !== 1 &&
                        pageNumberArray.length > 6 &&
                        pageNumberArray.length !== item)
                        ? 'hide-page-no'
                        : 'show-page-no'
                    "
                    >
                    <a
                        (click)="moveToPage(item)"
                        class="page-link"
                        href="javascript:void(0);"
                    >
                        {{ item }}
                    </a>
                    </li>
                    <li
                    class="page-item"
                    *ngIf="
                        i === 0 && pageNumberArray.length > 6 && currentPage > 2
                    "
                    [hidden]="currentPage === 1"
                    (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                    >
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                    </li>
                    <li
                    *ngIf="
                        i === pageNumberArray.length - 2 &&
                        pageNumberArray.length > 6
                    "
                    [hidden]="
                        currentPage >=
                        pageNumberArray[pageNumberArray.length - 2] ||
                        totalData < serialNumberArray[serialNumberArray.length - 1]
                    "
                    class="page-item"
                    (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                    >
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                    </li>
                </ng-container>

                <li
                    class="page-item"
                    [ngClass]="{
                    disabled:
                        currentPage ===
                        pageNumberArray[pageNumberArray.length - 1] ||
                        lstExit.length === 0
                    }"
                >
                    <a
                    (click)="getMoreData('next')"
                    class="page-link"
                    href="javascript:void(0);"
                    >Next
                    </a>
                </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>

 <!-- Edit Leave Modal -->
 <div id="edit_exit" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Exit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="this.editExitRequest" > 
                    <div class="input-block mb-3 date-input1">
                        <label class="col-form-label" for="">Exit Day <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input formControlName="exit_day" class="form-control datetimepicker" bsDatepicker container=".date-input1" type="text" [daysDisabled]="[0,6]" [minDate]="today"
                            [ngClass]="{'is-invalid': z['exit_day']?.invalid  && isSubmited,
													'is-valid':z['exit_day']?.valid && isSubmited}"
													 >
												<div *ngIf="isSubmited && z['exit_day']" class="text-danger">
													<div *ngIf="z['exit_day'].errors">Invalid Date</div>
												</div>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Start Time <span class="text-danger">*</span></label>
                        <div class="input-group time timepicker">
                            <input (click)="toggleTimePcker('StartTime')" readonly [value]="formatTime(zones)"
                                class="form-control"><span class="input-group-text"><i
                                    class="fa-regular fa-clock"></i></span>
                            <timepicker [class.show-sub-menu]="showTimePicker[0]==='StartTime'"
                                class="custom-timepicker" [ngModelOptions]="{standalone: true}"
                                 [(ngModel)]="zones" [min]="minTime" [max]="maxStartTime" [minuteStep]="1"  (click)="addOneHour()"></timepicker>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">End Time <span class="text-danger">*</span></label>
                        <div class="input-group time timepicker">
                            <input (click)="toggleTimePcker('newTime')" readonly [value]="formatTime(setTime)"
                                class="form-control"><span class="input-group-text"><i
                                    class="fa-regular fa-clock"></i></span>
                            <timepicker [class.show-sub-menu]="showTimePicker[0]==='newTime'"
                                class="custom-timepicker" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="setTime" [min]="zones" [max]="maxTime"  [minuteStep]="0"></timepicker>
                        </div>
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Number of Hours <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text" formControlName="hours" [value]="calculateTimeDifference()"
                        [ngClass]="{'is-invalid': z['hours']?.invalid  && isSubmited,
													'is-valid':z['hours']?.valid && isSubmited}"
													 >
												<div *ngIf="isSubmited && z['hours']" class="text-danger">
												<div *ngIf="z['hours'].errors">Fix Your Hours</div>
													<div *ngIf="z['hours'].value>this.remainExit">you passed your Remain Exit</div>
												</div>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Remaining Exit <span class="text-danger">*</span></label>
                        <input class="form-control" readonly [value]="remainExit" type="text">
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Exit Reason <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control" formControlName="reason"
                        [ngClass]="{'is-invalid': z['reason']?.invalid  && isSubmited,
											'is-valid':z['reason']?.valid && isSubmited}"
											 ></textarea>
											<div *ngIf="isSubmited && z['reason']" class="text-danger">
												<div *ngIf="z['reason'].errors">Reason is Required</div>
											</div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="editExitReaquest()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave Modal -->

<!-- Delete Leave Modal -->
<div class="modal custom-modal fade" id="delete_exit" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to Cancel this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" (click)="deleteExitReqest()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave Modal -->

<div class="modal custom-modal fade" id="processExit" role="dialog" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Process</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="progress">
                  <div
                    *ngFor="let approver of process"
                    class="progress-step"
                    [ngClass]="{
                      'bg-success': approver.approved === 'Approved',
                      'bg-danger': approver.approved === 'Declined',
                      'bg-primary': approver.approved === 'Pending'
                    }"
                  >
                    <img [src]="approver.user.profile_photo?(baseUrl+approver.user.profile_photo):image" class="approver-img" alt="{{ approver.user.username }}">
                    
                  </div>
                </div>
                <mat-progress-bar mode="determinate" [value]="progressValue" color="{{getProgressBarColor()}}"></mat-progress-bar>
              </div>
    </div>
</div>
